.about-container {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .about-container h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 5%;
  }

  img{
    height: 500px;
    width: 500px;
 }


  .about-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-container h3 {
    font-size: 1.7rem;
    width: 80%;
    margin-bottom: 0.7rem;
    text-align: center;
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headerhobbies {
    margin-top: 5px;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2%;
  }
  
  .skills-list li {
    font-size: 1.5rem;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }